<%= link_to "Add Category", new_category_path if logged_in? && current_user.admin? %>
<%= will_paginate %>

<% @categories.each do |category| %>
  <h1><%= category.name %></h1>
  <%= link_to "Edit", edit_category_path(category) %>
<% end %>